@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url('/css/home.jpeg'); background-size: cover; background-position: center; height:700px">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    @*<div class="text-center" style="background-image: url('/css/home.jpeg'); background-size: cover; background-position: center;">
        <h1 class="display-4">Welcome to Insurance Provider Management System</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
</body>
</html>
